#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary.
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/jqufStbvLd99bF539) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [1]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [2]:
import pandas as pd
import numpy as np
url = "https://storage.googleapis.com/deb-evaluation-materials/vehicles.csv"
df = pd.read_csv(url)

In [6]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [37]:
########## Q1
#Your code here
volkswagen_cars = df[df["Make"] == "Volkswagen"]
average_co2_emission = volkswagen_cars['CO2 Emission Grams/Mile'].mean()
#average_co2_emission
volkswagen_cars
#Example answer:
#answer_dict["Q1"] =  average_co2_emission

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34128,Volkswagen,Beetle,2012,2.0,4.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Premium,13.184400,22,30,25,355.480000,1600
34129,Volkswagen,Beetle,2012,2.5,5.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
34130,Volkswagen,Beetle,2012,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,13.733750,21,30,24,370.291667,1700
34131,Volkswagen,Beetle,2012,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,31,25,355.480000,1350
34132,Volkswagen,Beetle,2013,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Diesel,11.943281,28,41,32,313.000000,1150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35170,Volkswagen,Vanagon/Camper 2WD,1989,2.1,4.0,Manual 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,16,18,17,522.764706,1950
35171,Volkswagen,Vanagon/Camper 2WD,1990,2.1,4.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,21.974000,15,16,15,592.466667,2200
35172,Volkswagen,Vanagon/Camper 2WD,1990,2.1,4.0,Manual 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,16,18,17,522.764706,1950
35173,Volkswagen,Vanagon/Camper 2WD,1991,2.1,4.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,21.974000,15,16,15,592.466667,2200
35174,Volkswagen,Vanagon/Camper 2WD,1991,2.1,4.0,Manual 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,16,18,17,522.764706,1950

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer:
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [49]:
########## Q2
#Your code here
unique_models = df.groupby("Make")["Model"].nunique()
top_5_brands = unique_models.sort_values(ascending=False).head(5)
top_5_brands_list = top_5_brands.reset_index().values.tolist()
top_5_brands_list
#Example answer:
answer_dict["Q2"] =  top_5_brands_list

answer_dict

{'Q1': 392.74172108576107,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1988), 19.0],
  [(1989, 1993), 18.0],
  [(1994, 1998), 19.0],
  [(1999, 2003), 19.0],
  [(2004, 2008), 19.0],
  [(2009, 2013), 21.0],
  [(2014, 2018), 22.0]]}

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer:
`['Regular',
 'Premium']`

In [31]:
########## Q3
#Your code here
fuel_types = df['Fuel Type'].unique()
fuel_types = sorted(fuel_types.tolist())
#fuel_types

answer_dict["Q3"] =  fuel_types
answer_dict

{'Q1': 392.74172108576107,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units([Z-score](https://fredclavel.org/2019/03/18/basics-standardization-and-the-z-score/)) **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer:
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [36]:
########## Q4
#Your code here
# Filter the rows where the make column is equal to Toyota
toyota_df = df[df["Make"] == "Toyota"]

# Calculate the z-score of the fuelBarrels/Year column
toyota_df.loc[:, "Fuel Barrels/Year_zscore"] = (toyota_df["Fuel Barrels/Year"] - toyota_df["Fuel Barrels/Year"].mean()) / toyota_df["Fuel Barrels/Year"].std()

# Sort the result by the absolute value of the z-score in descending order and then by year in descending order
toyota_df = toyota_df.sort_values(by=["Fuel Barrels/Year"], key=abs, ascending=False).sort_values(by=["Year"], ascending=False)

# Get the first 9 rows and select the model, year, and Fuel Barrels/Year columns
top_9_toyota = toyota_df[["Model", "Year", "Fuel Barrels/Year"]].head(9)

# Convert the result to a list of lists
top_9_toyota_list = top_9_toyota.values.tolist()

answer_dict["Q4"] =  top_9_toyota_list

answer_dict

[['Corolla iM', 2017, 10.987], ['Tundra 4WD', 2017, 20.600625], ['Corolla', 2017, 10.3003125], ['Tundra 4WD', 2017, 21.974], ['Tundra 2WD FFV', 2017, 21.974], ['Tacoma 4WD', 2017, 16.4805], ['Tacoma 4WD', 2017, 16.4805], ['Camry', 2017, 13.73375], ['Tacoma 4WD', 2017, 16.4805]]

<ipython-input-36-23eaccaeeda2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toyota_df.loc[:, "Fuel Barrels/Year_zscore"] = (toyota_df["Fuel Barrels/Year"] - toyota_df["Fuel Barrels/Year"].mean()) / toyota_df["Fuel Barrels/Year"].std()

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [50]:
########## Q5
#Your code here

# Filter the rows where the make column is equal to Volkswagen, the model column contains Golf, the trany column is equal to Manual 5-spd, and the fuelType column is equal to Regular
golf_df = df[(df["Make"] == "Volkswagen") & (df["Model"].str.contains("Golf")) & (df["Transmission"] == "Manual 5-spd") & (df["Fuel Type"] == "Regular")]

# Sort the result by the year column in ascending order
golf_df = golf_df.sort_values(by="Year")

# Calculate the difference in Combined MPG with the previous row and assign it to a new column
golf_df["MPG_diff"] = golf_df["Combined MPG"].diff().fillna(0)

# Select the year, comb08, and MPG_diff columns
golf_df = golf_df[["Year", "Combined MPG", "MPG_diff"]]

# Convert the result to a list of lists
golf_df_list = golf_df.values.tolist()

answer_dict["Q5"] =  golf_df_list

answer_dict

{'Q1': 392.74172108576107,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': [[1985.0, 26.0, 0.0],
  [1985.0, 25.0, -1.0],
  [1986.0, 26.0, 1.0],
  [1987.0, 25.0, -1.0],
  [1987.0, 26.0, 1.0],
  [1988.0, 25.0, -1.0],
  [1989.0, 25.0, 0.0],
  [1990.0, 25.0, 0.0],
  [1991.0, 25.0, 0.0],
  [1992.0, 25.0, 0.0],
  [1993.0, 24.0, -1.0],
  [1994.0, 24.0, 0.0],
  [1995.0, 24.0, 0.0],
  [1996.0, 23.0, -1.0],
  [1997.0, 24.0, 1.0],
  [1998.0, 24.0, 0.0],
  [1999.0, 24.0, 0.0],
  [1999.0, 24.0, 0.0],
  [2000.0, 24.0, 0.0],
  [2001.0, 24.0, 0.0],
  [2002.0, 24.0, 0.0],
  [2003.0, 24.0, 0.0],
  [2004.0, 24.0, 0.0],
  [2005.0, 24.0, 0.0],
  [2006.0, 24.0, 0.0],
  [2010.0, 25.0, 1.0],
  [2011.0, 26.0, 1.0],
  [2012.0, 26.0, 0.0],
  [2013.0, 26.0, 0.0],
  [2015.0, 30.0, 4.0],
  [2015.0, 29.0, -1.0],
  [2016.0, 30.0, 1.0],
  [2016.0, 29.0, -1.0],
  [2017.0, 29.0, 0.0],
  [2017.0, 28.0, -1.0]],
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1988), 19.0],
  [(1989, 1993), 18.0],
  [(1994, 1998), 19.0],
  [(1999, 2003), 19.0],
  [(2004, 2008), 19.0],
  [(2009, 2013), 21.0],
  [(2014, 2018), 22.0]]}

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [44]:
########## Q6
#Your code here

# Create a list of the brands to filter
brands = ["Toyota", "Ford", "Volkswagen", "Nissan", "Honda"]

# Create an empty list to store the results
top5_lowest = []

# Loop through each brand
for brand in brands:
  # Filter the rows where the make column is equal to the brand
  brand_df = df[df["Make"] == brand]

  # Sort the result by the CO2 Emission Grams/Mile column in ascending order
  brand_df = brand_df.sort_values(by="CO2 Emission Grams/Mile")

  # Get the first 5 rows and select the co2 column
  top_5_co2 = brand_df["CO2 Emission Grams/Mile"].head(5)

  # Convert the result to a list of floats
  top_5_co2_list = top_5_co2.values.tolist()

  # Add the brand and the top 5 co2 values to the results list
  top5_lowest.append([brand] + top_5_co2_list)

  answer_dict["Q6"] =  top5_lowest

answer_dict

{'Q1': 392.74172108576107,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': None}

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [45]:
########## Q7
#Your code here

# Create a list of the year ranges
year_ranges = [(1984, 1988), (1989, 1993), (1994, 1998), (1999, 2003), (2004, 2008), (2009, 2013), (2014, 2018)]

# Create an empty list to store the results
groups_of7 = []

# Loop through each year range
for year_range in year_ranges:
  # Filter the rows where the year column is between the lower and upper bounds of the year range
  year_df = df[df["Year"].between(year_range[0], year_range[1])]

  # Calculate the median of the comb08 column
  median_mpg = year_df["Combined MPG"].median()

  # Add the year range and the median mpg to the results list
  groups_of7.append([year_range, median_mpg])

  answer_dict["Q7"] =  groups_of7

answer_dict

{'Q1': 392.74172108576107,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1988), 19.0],
  [(1989, 1993), 18.0],
  [(1994, 1998), 19.0],
  [(1999, 2003), 19.0],
  [(2004, 2008), 19.0],
  [(2009, 2013), 21.0],
  [(2014, 2018), 22.0]]}

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [46]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... FAIL
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... FAIL
test_Q4_types (__main__.TestAnswers) ... ERROR
test_Q5_dim (__main__.TestAnswers) ... FAIL
test_Q5_first_zero (__main__.TestAnswers) ... ERROR
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... FAIL
test_answers_types (__main__.TestAnswers) ... FAIL
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

======================================================================
ERROR: test_Q4_types (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-46-ea466fca2033>", line 34, in test_Q4_types
    dtype1 = type(answer_dict['Q4'][0][0])
TypeError: 'NoneType' object is not subscriptable

======================================================================
ERROR: test_Q5_first_zero (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-46-ea466fca2033>", line 49, in test_Q5_first_zero
    self.assertEqual(answer_dict['Q5'][0][2], 0)
TypeError: 'NoneType' object is not subscriptable

======================================================================
FAIL: test_Q1 (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-46-ea466fca2033>", line 16, in test_Q1
    self.assertEqual(type(answer_dict['Q1']), float)
AssertionError: <class 'numpy.float64'> != <class 'float'>

======================================================================
FAIL: test_Q4_dim (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-46-ea466fca2033>", line 31, in test_Q4_dim
    self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))
AssertionError: Tuples differ: () != (9, 3)

Second tuple contains 2 additional elements.
First extra element 0:
9

- ()
+ (9, 3)

======================================================================
FAIL: test_Q5_dim (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-46-ea466fca2033>", line 40, in test_Q5_dim
    self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))
AssertionError: Tuples differ: () != (19, 3)

Second tuple contains 2 additional elements.
First extra element 0:
19

- ()
+ (19, 3)

======================================================================
FAIL: test_Q7_types (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-46-ea466fca2033>", line 76, in test_Q7_types
    self.assertEqual([dtype1, dtype2], [tuple, float])
AssertionError: Lists differ: [<class 'tuple'>, <class 'numpy.float64'>] != [<class 'tuple'>, <class 'float'>]

First differing element 1:
<class 'numpy.float64'>
<class 'float'>

- [<class 'tuple'>, <class 'numpy.float64'>]
?                           ------     --

+ [<class 'tuple'>, <class 'float'>]

======================================================================
FAIL: test_answers_types (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-46-ea466fca2033>", line 13, in test_answers_types
    self.assertEqual(types_values, answer_types)
AssertionError: Lists differ: [<class 'numpy.float64'>, <class 'list'>, <class '[74 chars]st'>] != [<class 'float'>, <class 'list'>, <class 'list'>, [58 chars]st'>]

First differing element 0:
<class 'numpy.float64'>
<class 'float'>

- [<class 'numpy.float64'>,
?          ------     --

+ [<class 'float'>,
   <class 'list'>,
   <class 'list'>,
-  <class 'NoneType'>,
-  <class 'NoneType'>,
+  <class 'list'>,
+  <class 'list'>,
   <class 'list'>,
   <class 'list'>]

----------------------------------------------------------------------
Ran 16 tests in 0.058s

FAILED (failures=5, errors=2)

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/jqufStbvLd99bF539).

In [52]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# New Section

In [47]:
answer_dict

{'Q1': 392.74172108576107,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1988), 19.0],
  [(1989, 1993), 18.0],
  [(1994, 1998), 19.0],
  [(1999, 2003), 19.0],
  [(2004, 2008), 19.0],
  [(2009, 2013), 21.0],
  [(2014, 2018), 22.0]]}

In [51]:
import pickle

file_name = "Dennis_Dakup_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)